apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: pitin-service
  name: bsms-backend
  labels:
    app: bsms-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bsms-backend
  template:
    metadata:
      labels:
        app: bsms-backend
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - name: bsms-backend
          image: 395164469276.dkr.ecr.ap-northeast-2.amazonaws.com/bsms-v2-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          envFrom:
            - secretRef:
                name: bsms-backend-secret
